body{
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color:#434455;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    
}
img{
    display: block;
}
.container { 
    
    padding: 0 15px 0 15px;
    
    margin:  0 auto;
    width: 1158px;

   }
header{
    padding-left: 156px;
    margin: auto;
    width: 1440;
    padding-top: auto;
    padding-bottom: auto;
    border-bottom: 1px solid #e7e9fc;
  
}

 .headers{
    
    display: flex;
    
 }
.header-navigation{
    display: flex;
    align-items: center;
    /* align-items: center; */
    
    

}
.header-menu{
    list-style-type: none;
    /* padding: 24px 0 24px ; */
    display: flex;
    gap: 40px;
    
    
}

.logo-studio{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.header-logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}
.header-menu-item{
    color:  #2E2F42;

/* Body Medium */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}
.address-item{
    

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

.address-menu{
    list-style-type: none;
    display: flex;
    
    gap: 40px;
}
.address{
    
    
    
}

.address-link{
    color: #434455;
}
.header-menu-link{
color: #2E2F42;
padding: 24px 0 24px ;
}
.header-menu-link:hover{
color:#404bbf;
}
.address{
    font-style: normal;
}
.header-menu-link:focus{
    color:#404bbf;
}
.address-link:hover, .address-link:focus {
    color:#404bbf;
}
.hero{
    background: #2E2F42;
    text-align: center;
    padding: 188px 0 188px;
}


.hero-title{
    display: block;
    margin: 0 auto;
    max-width: 496px; 
    color: #ffffff;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
    
    }
    
.btn{
    margin: 0 auto;
    display: block;
    background-color: #4D5AE5;
    color:#ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
    
}
.hero>.btn:hover,.hero>button:focus{
    background-color:#404BBF;
}
.features-list{
    display: flex;
    list-style-type: none;
    
    gap: 24px;
}
.features{
    padding: 120px 0 120px;
}

.listok{
    display: flex;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
    
}

.features-list-title{
    
    margin: 0;
    color: #2E2F42;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    
}

.features-list-text{
    color: #434455;
    letter-spacing: 0.02em;
    margin: 0;
}
.team-page{
    
    flex-shrink: 0;
    background: #F4F4FD;
}
.team-page>ul{
    list-style-type: none;
}

.team-page>ul>li{
    
    background:  #ffffff;
   
    
    
}
.team-page>ul>li>h3{
    color:  #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}
.team-page>ul>li>p{
    color:  #434455;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-title{
    color:  #2e2f42;
text-align: center;
/* Header 2 */
font-family: "Roboto",sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;/* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.porfolio-menu{
    list-style-type: none;
}
.porfolio-menu-item{
    border: 1px solid  #E7E9FC;
}
.portfolio>h2{
    color:  #2e2f42;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}
.portfolio>ul>li>h3{
    color:  #2E2F42;

/* Header 3 */
font-family: "Roboto",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
letter-spacing: 0.02em;
}
.portfolio>ul>li>p{
    color:  #434455;

/* Body */
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}
footer{
    background: #2E2F42;
}
.footer .footer-logo{
    color: #4D5AE5;
font-family: "Raleway",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;/* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-footer{
    color: #F4F4FD;
}
.footer>p{
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
